@use "./abstract/variables" as *;
@import "./abstract/fonts";

@import "./pages/loginPage";
@import "./pages/listPage";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;

    // add flex: 1 to child to fill full site

    flex: 1;
}


body {
    background-color: $mainColor;
    color: $blackColor;
}
